/* body {
   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
}



div{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 200%;
        
}

text1{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 20px;

}

text2{
    font-size: 25px;
    color: blue;
    
    
}
.content span{
    color: white;
    text-transform: uppercase;
    display: block;
    
    
        
    
    
    
}*/
/* Style the video: 100% width and height to cover the entire window */
 #myVideo {
	 
    position:fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height:100%;
}

/* Add some content at the bottom of the video/page */
/*.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {display: inline-block;
	position: absolute;
	right: 50%;
	left: 50%;
    width: 500px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    
    
    
    
    
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


body {
    padding:0;
    margin:0;
}

.content {
    width:100vw;
    height:100vh;
    background-clip:url(Ship10715.mp4);
    background-size:cover;
    background-position: 50%;
    position:relative;
    font-family:Roboto, sans-serif;
}

.box {
    background:rgba(200,200,200,0.5 );
    border-radius:15px;
    box-shadow:0 0 10px #40190a;
    width:300px;
    position:absolute;
    left:50%;
    top:30%;
    margin-left:-150px;
    animation-name:profile;
    animation-duration: 6s;
    overflow: hidden;
    transition:all 5s;
}

@keyframes profile {
    0%{top: 100%; width: 0px;}
	25%{top: 10%; width: 25px;}
	50%{top: 20%; width: 50px;}
	75%{top: 30%; width: 75px;}
}

.Box img {
    border-radius:200%; 
    margin-top:10px;
    margin-bottom:10px;
    margin-left:130px;
}

.Box header {
    text-align:center;
    background-image:url(boot.jpg);
    background-size:cover;
    background-position:50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight:bold,100;
    padding:10px;
}

.boxContent {
    padding: 10px;
    text-align:center;
    font-size:14px;
    color:#40190A;
}

mark {
    background:transparent;
    font-family:'Marck Script', cursive;
    font-size:23px; 
    font-style:oblique;
}

.Danke h2 {
    font-family:'Marck Script', cursive;
    font-size: 40px;
    color:#ededed;
    position: absolute;
    bottom:3%;
    left:40%;
    padding:0 10px;
    font-weight:normal; 
    text-shadow: 0 0 10px #000;
    color:#EEDCB3;
    max-width:600px;
    animation-name: headline;
    animation-duration: 9s;
}

@keyframes headline {
    from {left:-100%;};
    to {left:3%;}
}
.end{
	display: inline-block;
	max-width:1070px;margin:0 auto;padding:0 32px;text-align:center; font-family:'Marck Script', cursive;
    font-size: 10px;
    color:#ededed;
    position: fixed;
    bottom:1%;
    left:inherit
    padding:0 10px;
    font-weight:normal; 
    text-shadow: 0 0 10px #000;
    color:#EEDCB3;
    max-width:inherit;




}
           strong {font-family: fantasy,sans-serif,serif;
	font-size: 35px;
	top: inherit;
	font-style: oblique;
	text-align-last: left


}
